/**
 * @file
 * Subtheme specific CSS.
 */


body {
    background: white;
    font-family: Rubik, sans-serif;
}

.site-name-slogan a {
    text-decoration: none;
}

.card-group img {
    margin: 0;
    width: 100%;
    height: auto;
}

.card-group .field--type-image {
    margin: 0
}

#navbar-main {
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.56), hsla(0, 0%, 100%, 0.56)), url(/dssedev4/themes/contrib/dsse_iitb_theme/images/UpdatedLight-Short-BW-Warli.jpg);
}
.navbar-brand {
    width: 22vw;
    height: 68px;
    max-width: 300px;
    background-position: 0% 10%;
    background-size: contain;
    background-repeat: no-repeat;
}
.site-footer {
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0.56),hsla(0,0%,100%,0.56)),url(/dssedev4/themes/contrib/dsse_iitb_theme/images/UpdatedLight-Short-BW-Warli.jpg) !important;
    box-shadow: inset 0px 0px 9px 0px #86868696;
    position: relative;
    z-index: 5;
    padding: 40px 3% 0px;
    height: 500px;
    margin-top: 12rem;    
}
.site-footer .content {
    color: #000;
}
.slick-list .slide .field--name-field-slide-image img{
    width: 100%;
    border-radius: 1em;
}

.path-frontpage .welcome-image img {
        max-width: 40px;
        margin-bottom: 4px;
        max-height: 40px;
}
/* .container {
    width: 85%;
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
} */
.nav-item {
    margin-right: 2px;
    margin-left: 2px;
    /* padding: 16px 1vw 10px; */
    font-family: Mohave, Verdana, sans-serif;
    color: #000;
    font-size: 20px;
    font-weight: 300;
}
p {
    font-family: Rubik, sans-serif;
}

.region-footer-first .block-block-content .field--name-field-image img{
    width: 240px;
    object-fit: contain;
    margin-top: 0px;
}
.region-footer-second {
    width: 80% !important;
    text-align: center;
}
.block-inline-blocktext-with-image {
    margin-bottom: 6em;
}
.block-inline-blocktext-with-image img {
    border-radius: 12px;
}

.block-inline-blocktext-with-image .field--name-field-links {
    display: flex;
}
.block-inline-blocktext-with-image .field--name-field-links .field__item a {
    margin-right: 1em;
    padding-right: 18px;
    background-image: url(/dssedev4/themes/contrib/dsse_iitb_theme/images/Black-Arrow.svg) !important;
    background-position: 98% 50%;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    font-family: Rubik, sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.field.field--name-field-title.field--type-string.field--label-hidden.field__item {
    position: absolute;
    line-height: 300%;
    font-weight: 7;
    bottom: 3%;
    color: white;
    padding: 8px 18px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 28px;
    background-image: linear-gradient(to top, rgb(0 0 0), rgb(0 0 0 / 0%));
    width: 100%;
    text-align: center;
}
.text-is-left {
    font-size: 20px;
    line-height: 145%;
    letter-spacing: -0.2px;
    padding-right: 4.5em;
 /*    animation-name: left-to-right;
    animation-duration: 1s; */
}

/* @keyframes left-to-right {
    from {padding-right: 6em;}
    to {padding-right: 4.5em;}
} */
.text-is-right {
    font-size: 20px;
    line-height: 145%;
    letter-spacing: -0.2px;
    padding-left: 3em;
}
/* @keyframes right-to-left {
    from {padding-left: 105px;}
    to {padding-left: 0px;}
} */
.block-field-blockblock-contenttext-with-imagefield-links {
    border-top: 1px solid #cfcfcf;
    padding-top: 8px;
}
.block-page-title-block h1 {
    text-align: center;
    padding: 1em;
}
.dsse-banner img.image-style-wide {
    width: 1080px;
    border-radius: 8px;
}
.image-is-left {
    max-width: 30%;
}
.image-is-left img {
    width: 100%;
    height: auto;
}
.image-is-right {
    max-width: 30%;
}

.image-is-right img {
    width: 100%;
    height: auto;
}